<div class="product-box">
    <a href="{{ url('product-detail', {'slug': product.slug}) }}" title="{{ product.name }}">
        <img src="http://via.placeholder.com/150x200" alt="{{ product.name }}" />
    </a>
    <div class="product-info">
        <h4 class="product-title">
            <a href="{{ url('product-detail', {'slug': product.slug}) }}" title="{{ product.name }}">{{ product.name }}</a>
        </h4>
        <span class="product-price">R$ {{ product.price }}</span>
        <a href="{{ url('cart-add-item', {'id': product.id}) }}" class="btn btn-success">Comprar</a>
    </div>
</div>